:root {
    --button-sun-h: 44deg;
    --button-sun-s: 58%;
    --button-sun-l: 54%;
}

[data-theme=dark],
.theme-dark {
    --bulma-scheme-main-l: 16%;
    --bulma-scheme-main-bis-l: 18% 	
    --bulma-scheme-main-ter-l: 20%; 	
    --bulma-background-l: 19%; 	
    --bulma-border-weak-l: 26%; 	
    --bulma-border-l: 29%; 	
    --bulma-text-weak-l: 58%; 	
    --bulma-text-l: 76%; 	
    --bulma-text-strong-l: 98%; 	
    --bulma-text-title-l: 100%;
}

.icon-button {
    border: none;
}

.fa-moon {
    color: rgb(206, 70, 206);
}

.fa-sun {
    color: rgb(206, 169, 70);
}

.carousel {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.carousel-content {
    display: inline-flex;
    justify-content: center;
    vertical-align: top;
}

.carousel-item:not([active]), .carousel-item:not([background]) {
    display: none;
}

.carousel-item[active] {
    display: block;
}

@media (max-width: 1023px) {
    .carousel-item[active] {
        width: 90%;
    }
    
    .carousel-scroll-left, .carousel-scroll-right {
        display: block;
        margin: auto;
        border-radius: 100%;
        aspect-ratio: 1/1;
        width: 10%;
    }

    .carousel {
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .carousel-item[active] {
        width: 33.33%;
    }

    .carousel-item[background] {
        display: inline-block;
        margin-bottom: auto;
        margin-top: 5%;
        width: 33.33%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        height: auto;
        opacity: 100%;

        mask-image: linear-gradient(black, transparent);
    }

    .carousel-item[active]:last-child {
        margin-right: auto;
    }
    
    .carousel-item[active]:first-child {
        margin-left: auto;
    }

    .carousel-scroll-left, .carousel-scroll-right {
        display: none;
    }
}

#nav {
    display: flex;
    align-items: center;
    box-shadow: var(--bulma-shadow);
}

#left-nav, #right-nav {
    display: flex;
    align-items: center;
}

#left-nav > * {
    margin-right: 1em;
}

#right-nav {
    margin-left: auto;
}

#right-nav > * {
    margin-left: 1em;
}

#about-me-header {
    text-align: center;
}