:root {
    --button-sun-h: 44deg;
    --button-sun-s: 58%;
    --button-sun-l: 54%;
}

[data-theme=dark],
.theme-dark {
    --bulma-scheme-main-l: 16%;
    --bulma-scheme-main-bis-l: 18% 	
    --bulma-scheme-main-ter-l: 20%; 	
    --bulma-background-l: 19%; 	
    --bulma-border-weak-l: 26%; 	
    --bulma-border-l: 29%; 	
    --bulma-text-weak-l: 58%; 	
    --bulma-text-l: 76%; 	
    --bulma-text-strong-l: 98%; 	
    --bulma-text-title-l: 100%;
}

.icon-button {
    border: none;
}

.colored {
    --theme-color: hsl(300, 58%, 54%);
}

.fa-moon {
    color: rgb(206, 70, 206);
}

.fa-sun {
    color: rgb(206, 169, 70);
}

.carousel {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.carousel-item:not([active]), .carousel-item:not([background]) {
    display: none;
}

.carousel-item[active] {
    display: block;
}

.carousel-item[background] {
    display: block;
    opacity: 75%;
    scale: 75%;
}

#nav {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid grey; */
    box-shadow: var(--bulma-shadow);
}

#left-nav, #right-nav {
    display: flex;
    align-items: center;
}

#left-nav > * {
    margin-right: 1em;
}

#right-nav {
    margin-left: auto;
}

#right-nav > * {
    margin-left: 1em;
}

#about-me-header {
    text-align: center;
}