/* #nav > * {
    display: inline-block;
    vertical-align: center;
} */

#nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}

#misc {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#misc > * {
    margin-left: 1em;
}