.carousel {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.carousel-content {
    display: inline-flex;
    justify-content: center;
    vertical-align: top;
}

.carousel-item:not([carousel-active]), .carousel-item:not([carousel-background]) {
    display: none;
}

.carousel-item[carousel-active] {
    display: block;
}

@media (max-width: 1023px) {
    .carousel-item[carousel-active] {
        width: 90%;
    }
    
    .carousel-scroll-left, .carousel-scroll-right {
        display: block;
        margin: auto;
        border-radius: 100%;
        aspect-ratio: 1/1;
        width: 10%;
    }

    .carousel {
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .carousel-item[carousel-active] {
        width: 33.33%;
    }

    .carousel-item[carousel-background] {
        display: inline-block;
        margin-bottom: auto;
        width: 33.33%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;

        user-select: none;
        max-height: 75%;
        overflow-y: hidden;
        mask-image: linear-gradient(black, transparent);
    }

    .carousel-item[carousel-background] > * {
        pointer-events: none;
    }

    .carousel-item[carousel-active]:last-child {
        margin-right: auto;
    }
    
    .carousel-item[carousel-active]:first-child {
        margin-left: auto;
    }

    .carousel-scroll-left, .carousel-scroll-right {
        display: none;
    }
}