:root {
  --button-sun-h: 44deg;
  --button-sun-s: 58%;
  --button-sun-l: 54%;
}

[data-theme=dark],
.theme-dark {
  --bulma-scheme-h: 217;
  --bulma-scheme-s: 20%;
}

body {
  background-image: url("/light-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-header {
  align-items: center;
}

.tech-icon {
  margin: 1em;
}

.circle {
  position: absolute;
  background-color: var(--color-accent-primary);
  border-radius: 100%;
}

.large.circle {
  aspect-ratio: 1/1;
  width: 50%;
  height: auto;
}

.small.circle {
  aspect-ratio: 1/1;
  width: 15%;
  height: auto;
}

.bottom-right.circle {
  bottom: 0;
  right: 0;
}

.icon-button {
  background: transparent;
  box-shadow: none;
  border: none;
}

.fa-moon {
  color: rgb(206, 70, 206);
}

.fa-sun {
  color: rgb(206, 169, 70);
}

#nav {
  display: flex;
  box-shadow: var(--bulma-shadow);
}

#left-nav, #right-nav {
  display: flex;
  align-items: center;
}

#left-nav > * {
  margin-right: 1em;
}

#right-nav {
  margin-left: auto;
}

#right-nav > * {
  margin-left: 1em;
}